{% extends "base.html" %}

{% block title %}
Форма запроса
{% endblock %}
{% block content %}
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <br>
                <br>
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Параметры поиска</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">

                        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">

                            {% csrf_token %}
                            <!-- имя запроса-->

                            {{ form.as_p }}
                            <br>
                          <button class="btn btn-primary" type="submit" >Искать вакансии</button>


                        </form>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}