{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">Добро пожаловать</h1>
<br>
                <!-- Masthead Subheading-->
                <h3>На сайт по фильтрации фотографий</h3>
                <p class="masthead-subheading font-weight-light mb-0">
                    <BR>
                    Тут возможно отфильтровать фотографии по качеству
                    <br>
                    А также отсортировать фотографии, где есть лица людей и нет.
                </p>
            </div>
        </header>
{% endblock %}