{% extends "base.html" %}

{% block title %}
Вакансия
{% endblock %}
{% block content %}
<br>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Вакансии</h2>
                <!-- Icon Divider-->
                <br>
                <table class ="table table-striped" align="center" >
                    <thead>
                        <tr>
                            <th>Дата публикации</th>
                            <th>Название</th>
                            <th>Зарплата</th>
                            <th>Описание</th>
                            <th>Навыки</th>
<!--                            <th>Как часто встречается</th>-->
                            <th>Ссылка на страницу на hh.ru</th>
                            <th>Комментарии</th>

                        </tr>
                    <thead>
                    <tbody>
                        {% for vac in post %}
                        <tr>
                                <td>{{vac.0.date_publik}}</td>
                                <td>{{vac.0.name}}</td>
                                <td>{{vac.0.salary}}</td>
                                <td>{{vac.0.about}}</td>
                                <td>
                                    {% if post.0.1 %}
                                        {% for skil in vac.1 %}
                                            {{skil}};
                                        {% endfor %}
                                    {% else %}
                                        Не указаны
                                    {% endif%}
                                </td>
                                <td> <a href={{vac.0.link}}> {{vac.0.link}}</a></td>
                            <td>{{vac.0.comment}}</td>
                            <td>
            <a class="btn btn-primary float-right" href="/comment/{{vac.0.id}}">Добавить комментарий</a>
                                <br><br>
               <a class="btn btn-danger" href="{% url 'parser:vac_delite' pk=vac.0.id %}" >Удалить вакансию</a>
        </td>
                        </tr>
                {% endfor %}


                    </tbody>
                </table>

            </div>
        </section>


</div>





{% endblock %}