{% extends "base.html" %}

{% block title %}
Вакансия
{% endblock %}
{% block content %}

<br>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Вакансия</h2>
                <!-- Icon Divider-->
                <br>
                <table class ="table table-striped" align="center" >
                    <thead>
                        <tr>
                            <th>Дата публикации</th>
                            <th>Название</th>
                            <th>Зарплата</th>
                            <th>Описание</th>
                            <th>Навыки</th>
<!--                            <th>Как часто встречается</th>-->
                            <th>Ссылка на страницу на hh.ru</th>
                            <th>Комментарии</th>

                        </tr>
                    <thead>
                    <tbody>

                        <tr>
                                <td>{{ post.0.0.date_publik }}</td>
                                <td>{{post.0.0.name}}</td>
                                <td>{{post.0.0.salary}}
                                <td>{{post.0.0.about}}</td>
                                <td>
                                    {% if post.0.1 %}
                                        {% for skil in post.0.1 %}
                                            {{skil}};
                                        {% endfor %}
                                    {% else %}
                                        Не указаны
                                    {% endif%}
                                </td>
                                <td> <a href={{post.0.0.link}}> {{post.0.0.link}}</a></td>
                            <td>{{post.0.0.comment}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>




<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Pager -->
        <div class="clearfix">

            <a class="btn btn-primary float-right" href="/comment/{{post.0.0.id}}">Добавить комментарий &rarr;</a>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Pager -->
        <div class="clearfix">

            <a class="btn btn-danger" href="{% url 'parser:vac_delite' pk=post.0.0.id %}" >Удалить вакансию</a>
        </div>
    </div>
</div>



{% endblock %}